<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.Xiaomi.aristotle"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.boot.hardware.sku"
        android:requiredSystemPropertyValue="aristotle"
        android:priority="270"
		android:isStatic="true" />
</manifest>